
<div class="relative overflow-x-auto text-lg">
  <api-button-left (prevPageEvent)="toPreviousPage()"></api-button-left>
  <api-button-right (nextPageEvent)="toNextPage()"></api-button-right>
  <input
      type="text"
      class="border border-gray-300 rounded-lg px-4 py-2 mr-2"
      placeholder="Buscar por Nombre"
      [(ngModel)]="queryName" 
      (input)="getCharacters(undefined,queryName)" 
    />
  <table class="w-full text-left rtl:text-right text-gray-500">
    <thead class="text-gray-700 uppercase bg-gray-50 dark:bg-gray-700">
      <tr>
        <th scope="col" class="px-6 py-3">id</th>
        <th scope="col" class="px-6 py-3">name</th>
        <th scope="col" class="px-6 py-3">status</th>
        <th scope="col" class="px-6 py-3">species</th> 
        <th scope="col" class="px-6 py-3">location</th>
        <th scope="col" class="px-6 py-3">image</th>
      </tr>
    </thead>
    <tbody>
      @for (character of characters; track $index) {
      <tr class="bg-white border-b">
        <td class="px-6 py-4">{{ character.id}}</td>
        <td class="px-6 py-4">{{ character.name}}</td>
        <td class="px-6 py-4">{{ character.status}}</td> 
        <td class="px-6 py-4">{{ character.species}}</td>
        <td class="px-6 py-4">{{ character.location.name}}</td>
        <td class="px-6 py-4">
          <img
            [src]="character.image"
            [alt]=" character.name "
            class="w-20 h-20"
          />
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>